In [1]:
10+2

12

In [6]:
g = {1,2,3,6,5,1,2,3}
print(type(g))

<class 'set'>

In [7]:
h = set(g)
print(type(h))

<class 'set'>

In [28]:
l = ["hi",12,["hiiiii",10],("gggg",555,5.2),"done"]
t = ("hi",12,["hiiiii",10],("gggg",555,5.2),"done")
#print(l)
print(type(l))
#print(t)
print(type(t))

<class 'list'>
<class 'tuple'>

In [10]:
s = "Python"
print(s[5])
print(s[-1])

n
n

In [12]:
dn = {}
print(type(dn))

<class 'dict'>

In [13]:
s = set()
print(type(s))

<class 'set'>

In [20]:
d = {"name":"Mayur","Age":25}
print(d)
print(type(d))
print(d["Age"])

{'name': 'Mayur', 'Age': 25}
<class 'dict'>
25

In [22]:
se = {9,7,2,7,3,1,3,1,9,2}
print(se)
print(type(se))

{1, 2, 3, 7, 9}
<class 'set'>

In [23]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [31]:
b = (1,3,3,5)
print(b[3])
print(type(b))

5
<class 'tuple'>

In [30]:
c = (10,)
print(type(c))

<class 'tuple'>

In [33]:
x = range(0,51)
print(type(x))

<class 'range'>

In [36]:
for i in range(0,51):
    print(i,end="_")

0_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29_30_31_32_33_34_35_36_37_38_39_40_41_42_43_44_45_46_47_48_49_50_

In [1]:
a = "Aishwarya Powar"
print(a)
print(type(a))
print(a[0])
print(a[9])
print(a[14])
#print(a[15])

Aishwarya Powar
<class 'str'>
A

r

In [28]:
a  = {9,7,2,7,3,1,3,1,9,2,"dfhfhs",5.023}
print(a)
b = set(a)
a = 3+4j
print(type(a))
print(a)
print(a.real)
print(a.imag)

{1, 2, 3, 'dfhfhs', 5.023, 7, 9}
<class 'complex'>
(3+4j)
3.0
4.0

In [27]:
st1 = "This is First String"
st2 = " Seconde String"
print(st1 + st2)
a = 10

This is First String Seconde String

In [42]:
l1 = [1,2,"Scn",6.23,True,3+4j,[1,2,3,4],(2,3,5),{'key':"value"}] #Heterogenous data 
print("This is list \n",l1)
print(type(l1))
st = "1,2,Scn,6.23,True,3+4j,[1,2,3,4],(2,3,5),{'key':value}" # Homogenous data
print(st,"This is string")
print(type(st))

This is list
 [1, 2, 'Scn', 6.23, True, (3+4j), [1, 2, 3, 4], (2, 3, 5), {'key': 'value'}]
<class 'list'>
1,2,Scn,6.23,True,3+4j,[1,2,3,4],(2,3,5),{'key':value} This is string
<class 'str'>

In [1]:
inp = input("Enter your Name : ")
print(type(inp))

Enter your Name :  12

<class 'str'>

In [49]:
a = input("Enter first number : ")
b = input("Enter Seconde number : ")
print(a+b)

Enter first number :  10
Enter Seconde number :  30

1030

In [51]:
a = int(input("Enter first number : "))  # int()
b = float(input("Enter Seconde number : "))
c = a+b
print(c)
print(type(c))

Enter first number :  2
Enter Seconde number :  56

58.0
<class 'float'>

In [52]:
x = 10
x

10

In [53]:
print(float(x))

10.0

In [55]:
s = 12.36
print(s)
a = int(s)
a

12.36

12

In [2]:
a = 12
print(a)
print(str(a))

s = "kjnkj"
print(s)

12
12
kjnkj

In [62]:
a = 0
print(a)
print(type(a))
b = bool(a)
print(b)
print(type(b))

0
<class 'int'>
False
<class 'bool'>

In [63]:
l  = [1,2,3,6,5,1,2,3,6]
print(l)
print(set(l))

[1, 2, 3, 6, 5, 1, 2, 3, 6]
{1, 2, 3, 5, 6}

In [2]:
l = [20,"Jessa",35.75,[30,60,90]]
print(l)

[20, 'Jessa', 35.75, [30, 60, 90]]

In [3]:
l[1]

'Jessa'

In [4]:
l[2]=12
l

[20, 'Jessa', 12, [30, 60, 90]]

In [6]:
numbers =list([1,2,3,4])
chars =list("Python")# converts string to list of characters
print(chars)# ['P', 'y', 't', 'h', 'o', 'n']
t = tuple("Python")
t

['P', 'y', 't', 'h', 'o', 'n']

('P', 'y', 't', 'h', 'o', 'n')

In [4]:
t = tuple("Python")
print(t)
#print(t[0])
#t[0] = "M"
print(t)

('P', 'y', 't', 'h', 'o', 'n')
('P', 'y', 't', 'h', 'o', 'n')

In [10]:
t1 = (1,2,3,45)
print(t1)

(1, 2, 3, 45)

In [12]:
l = list(t1)
print(l)

[1, 2, 3, 45]

In [13]:
l[3] = 5
print(l)

[1, 2, 3, 5]

In [14]:
t1 = tuple(l)
t1

(1, 2, 3, 5)

In [18]:
a = 5
# This is for indent
"""dcibwcbij
wedc jcj
hhcjsw j"""
if a>=5:
    print(a)
else:
    print("None")

"""dcibwcbij
wedc jcj
hhcjsw j"""
#gfcyghhgvh

5

'dcibwcbij\nwedc jcj\nhhcjsw j'

In [25]:
a = 5
b = 10.25
c = a+b
print(type(a))
print(type(b))

5+10.25

<class 'int'>
<class 'float'>

15.25

In [22]:
a,b,c = 5,2.2,3
print("this is multiple variable assigning: ",a,b,c)

this is multiple variable assigning:  5 2.2 3

In [27]:
# Set
s = {1,2,36,5,9,8,7,12,3,5,4,6,9}
set() # set constructor
print(s)
print(type(s))

{1, 2, 3, 36, 5, 4, 7, 8, 9, 6, 12}
<class 'set'>

In [29]:
# DIctionary
d = {1 : "Name","new" : 10}
print(type(d))

<class 'dict'>

In [31]:
a = {} 
print(a)
print(type(a))

{}
<class 'dict'>

In [33]:
s = set()
print(type(s))

<class 'set'>

In [39]:
t = (10,)
print(type(t))

<class 'tuple'>

In [42]:
l = [1]
print(type(l))

<class 'list'>

In [44]:
var = input() # input() takes string input by default
print(type(var))

 jjjj

<class 'str'>

In [46]:
var = input("ENtert any string : " )
print(type(var))

ENtert any string :  55

<class 'str'>

In [49]:
var1 = int(input())
print(type(var1))

 5

<class 'int'>

In [53]:
""" set  = set()
integer = int()
float = float()
tuple = tuple()
List = list()
DIctionary = dict()
Boolean = bool()"""

a  = bool(input())
print(type(a))

 None

<class 'bool'>

In [58]:
a  = "lkjhgfdfghjkl"
b = 0.0
print(bool(a))
print(bool(b))

True
False

In [60]:
l = [1,"jh",5,20.33,656,50.2]
print(tuple(l))

(1, 'jh', 5, 20.33, 656, 50.2)

In [65]:
l = [1,"jh",5,20.33,656,50.2]
print(l)
l[-2] = 100
l

[1, 'jh', 5, 20.33, 656, 50.2]

[1, 'jh', 5, 20.33, 100, 50.2]

In [70]:
t = (1,"jh",5,20.33,656,50.2)
print(t)
print(t[5])
#t[4] = 500
a = list(t)
print(a)
a[4] = 500
print(a)
t = tuple(a)
t

(1, 'jh', 5, 20.33, 656, 50.2)
50.2
[1, 'jh', 5, 20.33, 656, 50.2]
[1, 'jh', 5, 20.33, 500, 50.2]

(1, 'jh', 5, 20.33, 500, 50.2)

In [79]:
a = range(50,100)
print(a)
l = list(a)
print(l,end="_")

range(50, 100)
[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]_

In [80]:
print(a)

range(50, 100)

In [81]:
print("Enter anything " , a)

Enter anything  range(50, 100)

In [82]:
b = "10"
print(type(b))

<class 'str'>

In [91]:
l = [52, 53, 54, 55, 56, 57, 58, 59, 60, 61,"hii",None,True]
print(l)
t = (52, 53, 54, 55, 56, 57, 58, 59, 60, 61,"hii",None,True)
print(t)
s = {52, 53, 54, 55, 56, 57, 58, 59, 60, 61,"hii",None,True}
print(s)

x = "52, 53, 54, 55, 56, 57, 58, 59, 60, 61,hii,None,True"
x

[52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 'hii', None, True]
(52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 'hii', None, True)
{None, True, 'hii', 52, 53, 54, 55, 56, 57, 58, 59, 60, 61}

'52, 53, 54, 55, 56, 57, 58, 59, 60, 61,hii,None,True'

In [6]:
l1 = [52,"hii",None,True,[1,2,3,4],(5,6,7)]
#print(l1)
#print(l1[14])

s1 = "52,hii,None,True,[1,2,3,4],(5,6,7)"
#print(s1)
print(s1[3])
print(id(s1))
print(id(l1))
print(id(l1[1]))
print(id(l1[0]))
print(id(l1[2]))
print(id(l1))

h
2296910183232
2296910597824
2296910295472
140706579196424
140706578364544
2296910597824

In [10]:
import array as arr
a = arr.array('i',[1,2,3,4,5])
print(a)
print(id(a))
print(id(a[0]))

print(id(a[1]))

array('i', [1, 2, 3, 4, 5])
2296910626416
140706579194792
140706579194824